{% extends '../base.html' %} {% load static %} {% block Content %}

<div id="wrapper">
  <div id="main">
    <!--COMINGSOON START-->
    <section class="comingsoon">
      <div class="container">
        <div class="holder">
          <strong class="coming-logo"
            ><a href="index.html"
              ><img src="{% static 'images/logo.png' %}" alt="img" /></a
          ></strong>
          <h1>We’re Coming Soon</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ad
            commodo consequat.
          </p>
          <strong class="title">We’ll Back Around!</strong>
          <div class="countdown-box">
            <div class="countdown236"></div>
          </div>
          <div class="subscribe-box">
            <strong class="subscribe">Subscribe To Our Newsletter</strong>
            <span>Integer sollicitudin ligula non enim sodales.</span>
            <form action="#">
              <input required type="text" placeholder="Enter Email Address" />
              <input type="submit" value="Subcribe Now" />
            </form>
            <div class="btn-row">
              <a href="index.html" class="btn-home"
                ><i class="fa fa-home" aria-hidden="true"></i>Back to Home</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--COMINGSOON END-->
  </div>
</div>
{% endblock Content %}
