{% extends '../base.html' %} {% load static %} {% block Content %}

<!--INNER BANNER-->
<div id="inner-banner">
  <div class="container">
    <h1>CrowdFunding</h1>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">CrowdFunding</li>
    </ol>
  </div>
</div>
<!--INNER BANNER-->
<div id="main">
  <!--BLOG START-->
  <section class="cf-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <div class="cf-box">
            <div class="row">
              <div class="col-md-5">
                <div class="frame">
                  <a href="#"
                    ><img src="{% static 'images/cf-img-4.jpg' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="text-box">
                  <h3>
                    <a href="crowd-funding-detail.html">Refugee Help Project</a>
                  </h3>
                  <p>
                    Morbi semper, dui sodales aliquet imperdiet, lacus ligula
                    congue neque, quis pretium lectus libero id.lacinia id proin
                    auctor vulputate litora, adipiscing duis tellus justo
                    sociosqu neque.
                  </p>
                  <div class="progress-box">
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 50%"
                      >
                        50%
                      </div>
                    </div>
                  </div>
                  <div class="btm-row">
                    <strong class="number">$20260 PLEDGED</strong>
                    <strong class="days">27 DAYS TO GO</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cf-box">
            <div class="row">
              <div class="col-md-5">
                <div class="frame">
                  <a href="#"
                    ><img src="{% static 'images/cf-img-2.jpg' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="text-box">
                  <h3>
                    <a href="crowd-funding-detail.html">Refugee Help Project</a>
                  </h3>
                  <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui blanditiis praesentium voluptatum deleniti atque
                    corrupti quos dolores et quas molestias excepturi sint
                    occaecati fuga.
                  </p>
                  <div class="progress-box">
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 50%"
                      >
                        50%
                      </div>
                    </div>
                  </div>
                  <div class="btm-row">
                    <strong class="number">$20260 PLEDGED</strong>
                    <strong class="days">27 DAYS TO GO</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cf-box">
            <div class="row">
              <div class="col-md-5">
                <div class="frame">
                  <a href="#"
                    ><img src="{% static 'images/cf-img-1.jpg' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="text-box">
                  <h3>
                    <a href="crowd-funding-detail.html">Refugee Help Project</a>
                  </h3>
                  <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui blanditiis praesentium voluptatum deleniti atque
                    corrupti quos dolores et quas molestias excepturi sint
                    occaecati fuga.
                  </p>
                  <div class="progress-box">
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 50%"
                      >
                        50%
                      </div>
                    </div>
                  </div>
                  <div class="btm-row">
                    <strong class="number">$20260 PLEDGED</strong>
                    <strong class="days">27 DAYS TO GO</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cf-box">
            <div class="row">
              <div class="col-md-5">
                <div class="frame">
                  <a href="#"
                    ><img src="{% static 'images/cf-img-3.jpg' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="text-box">
                  <h3>
                    <a href="crowd-funding-detail.html">Refugee Help Project</a>
                  </h3>
                  <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui blanditiis praesentium voluptatum deleniti atque
                    corrupti quos dolores et quas molestias excepturi sint
                    occaecati fuga.
                  </p>
                  <div class="progress-box">
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 50%"
                      >
                        50%
                      </div>
                    </div>
                  </div>
                  <div class="btm-row">
                    <strong class="number">$20260 PLEDGED</strong>
                    <strong class="days">27 DAYS TO GO</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cf-box">
            <div class="row">
              <div class="col-md-5">
                <div class="frame">
                  <a href="#"
                    ><img src="{% static 'images/cf-img-4.jpg' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-md-7">
                <div class="text-box">
                  <h3>
                    <a href="crowd-funding-detail.html">Refugee Help Project</a>
                  </h3>
                  <p>
                    Morbi semper, dui sodales aliquet imperdiet, lacus ligula
                    congue neque, quis pretium lectus libero id.lacinia id proin
                    auctor vulputate litora, adipiscing duis tellus justo
                    sociosqu neque.
                  </p>
                  <div class="progress-box">
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 50%"
                      >
                        50%
                      </div>
                    </div>
                  </div>
                  <div class="btm-row">
                    <strong class="number">$20260 PLEDGED</strong>
                    <strong class="days">27 DAYS TO GO</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--PAGINATION START-->
          <div class="pagination-col">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">Prev</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!--PAGINATION END-->
        </div>
        <div class="col-md-3 col-sm-4">
          <aside>
            <div class="sidebar">
              <div class="sidebar-box">
                <h3>Search</h3>
                <form action="#">
                  <input
                    placeholder="Enter your Keywords"
                    required
                    type="text"
                  />
                  <button type="submit" value="">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
              <div class="sidebar-box">
                <div class="sidebar-text-widget">
                  <h3>About Salat</h3>
                  <p>
                    Morbi congue gravida pharetra. Integer ac mi placerat,
                    luctus dui eget, cursus enim. Praesent pharetra enim ornare
                    facilisis rhoncus.
                  </p>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Upcoming Events</h3>
                <div class="news-widget">
                  <ul>
                    <li>
                      <div class="thumb">
                        <a href="#"
                          ><img
                            src="{% static 'images/news-thumb-img-1.jpg' %}"
                            alt="img"
                        /></a>
                      </div>
                      <div class="text-col">
                        <a href="#">Quran Recitation..</a>
                        <span>02 Sep, 2021</span>
                      </div>
                    </li>
                    <li>
                      <div class="thumb">
                        <a href="#"
                          ><img
                            src="{% static 'images/news-thumb-img-2.jpg' %}"
                            alt="img"
                        /></a>
                      </div>
                      <div class="text-col">
                        <a href="#">Quran Recitation..</a>
                        <span>06 Sep, 2021</span>
                      </div>
                    </li>
                    <li>
                      <div class="thumb">
                        <a href="#"
                          ><img
                            src="{% static 'images/news-thumb-img-3.jpg' %}"
                            alt="img"
                        /></a>
                      </div>
                      <div class="text-col">
                        <a href="#">Quran Recitation..</a>
                        <span>08 Sep, 2021</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Popular tags</h3>
                <div class="tags">
                  <a href="#">Quran</a> <a href="#">Islam</a>
                  <a href="#">Donate</a> <a href="#">Salat</a>
                  <a href="#">Azan</a> <a href="#">Zakat</a>
                  <a href="#">Roza</a>
                </div>
              </div>
              <div class="sidebar-box">
                <h3>Instagram</h3>
                <div class="instagram-widget">
                  <ul>
                    <li>
                      <a href="#"
                        ><img
                          src="{% static 'images/instagram-img-1.jpg' %}"
                          alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="#"
                        ><img
                          src="{% static 'images/instagram-img-2.jpg' %}"
                          alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="#"
                        ><img
                          src="{% static 'images/instagram-img-3.jpg' %}"
                          alt=""
                      /></a>
                    </li>
                    <li>
                      <a href="#"
                        ><img
                          src="{% static 'images/instagram-img-4.jpg' %}"
                          alt=""
                      /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!--BLOG END-->
</div>
{% endblock Content %} {% block Scripts %}
<!--AUDIO PLAYER JS START-->
<script src="{% static 'js/audioplayer.js' %}"></script>
{% endblock Scripts %}
