{% extends '../base.html' %}
{% load static %}

{% block Content %}

<!--INNER BANNER-->
<div id="inner-banner">
  <div class="container">
    <h1>Islamic Scholars</h1>
    <ol class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li class="active">Scholars</li>
    </ol>
  </div>
</div>
<!--INNER BANNER-->
<div id="main">
  <!--TEAM SECTION START-->
  <section class="team-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="team-box">
            <div class="frame">
              <a href="#"
                ><img src="{% static 'images/team/team-img-1.jpg' %}" alt="img"
              /></a>
            </div>
            <div class="text-box">
              <h2><a href="#">Rameez</a></h2>
              <strong class="title">Islamic Teacher</strong>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-google-plus" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="team-box">
            <div class="frame">
              <a href="#"
                ><img src="{% static 'images/team/team-img-2.jpg' %}" alt="img"
              /></a>
            </div>
            <div class="text-box">
              <h2><a href="#">Ayesha</a></h2>
              <strong class="title">Islamic Teacher</strong>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-google-plus" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="team-box">
            <div class="frame">
              <a href="#"
                ><img src="{% static 'images/team/team-img-3.jpg' %}" alt="img"
              /></a>
            </div>
            <div class="text-box">
              <h2><a href="#">Awais Qarni</a></h2>
              <strong class="title">Mufti</strong>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-google-plus" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="team-box">
            <div class="frame">
              <a href="#"
                ><img src="{% static 'images/team/team-img-4.jpg' %}" alt="img"
              /></a>
            </div>
            <div class="text-box">
              <h2><a href="#">Syeda Ayesha</a></h2>
              <strong class="title">Islamic Teache</strong>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-google-plus" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="team-box">
            <div class="frame">
              <a href="#"
                ><img src="{% static 'images/team/team-img-1.jpg' %}" alt="img"
              /></a>
            </div>
            <div class="text-box">
              <h2><a href="#">Yousuf</a></h2>
              <strong class="title">Member</strong>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-google-plus" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="team-box">
            <div class="frame">
              <a href="#"
                ><img src="{% static 'images/team/team-img-2.jpg' %}" alt="img"
              /></a>
            </div>
            <div class="text-box">
              <h2><a href="#">Maryam</a></h2>
              <strong class="title">Islamic Scholor</strong>
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa fa-facebook" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-google-plus" aria-hidden="true"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--PAGINATION START-->
      <div class="pagination-col">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">Prev</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!--PAGINATION END-->
    </div>
  </section>
  <!--TEAM SECTION END-->
</div>

{% endblock Content %}
